[2017-01-31 06:26] raisrahman opened #1 "Error when set blur to 0"
Hi @MatteoGabriele ,
I try to set blur into 0 to disable blur function, but it doesnt work, the value always reset to default (5).. is there any way to disable it? thanks

[2017-01-31 07:27] #1 closed

[2017-01-31 07:33] MatteoGabriele commented on #1
Hi @raisrahman
I fixed this issue and updated to v1.2.1

[2017-02-26 16:15] appinteractive opened #2 "onLoad Events"
I would need an simple onLoad event for each image (full and placeholder) dispatched. Could you provide the possibility to pass such events?

`<progressive-img @onLoad="onLoadMethod" @onLoadPlaceholder="onLoadPlaceholderMethod" />`

[2017-02-26 16:18] Julien76 opened #3 "Not compatible with runtime-only build of vue"
Hi,

I'm trying to use your library in my project, however it fails for not being compatible with the runtime-only Vue:

    [Vue warn]: You are using the runtime-only build of Vue where the template option is not   available. Either pre-compile the templates into render functions, or use the compiler-included build.
    (found in component <progressive-img>)

As the runtime-only output a smaller

[2017-02-26 16:21] MatteoGabriele commented on #3
hi @Julien76
I recently switch to runtime-only and i saw this error as well. I will definitely make a refactor

thanks :)

[2017-02-26 16:22] Julien76 commented on #3
Great, thanks for the very fast asnwer :) Looking forward to use it 👍

[2017-02-26 16:23] MatteoGabriele commented on #2
Sure, it's definitely handy!

thanks for suggesting that

[2017-02-26 21:15] MatteoGabriele commented on #3
@Julien76 apparently the runtime-only is not compatible with the other way of build Vue.
I thought that this setup was compatible for both.

I'll probably need to bump up a major version to maintain compatibility.

[2017-02-26 21:50] MatteoGabriele commented on #3
Never mind I've found the problem! now it works 🎉

I'll publish a new patch as soon as possible!

[2017-02-27 08:36] #2 closed

[2017-02-27 08:38] #3 closed

[2017-02-27 09:16] MatteoGabriele commented on #2
published new v1.4.0

here the new doc section
https://github.com/MatteoGabriele/vue-progressive-image#events

thanks again

[2017-02-27 09:17] MatteoGabriele commented on #3
@Julien76 published new v1.4.0

[2017-02-27 22:35] MatteoGabriele opened #4 "Add srcset attribute compatibility"
A list of one or more strings separated by commas indicating a set of possible image sources for the user agent to use

[2017-02-27 22:36] MatteoGabriele commented on #3
@Julien76 For the `srcset` see #4
I'm going to implement that as soon as I can :)

[2017-03-11 21:15] Julien76 commented on #3
Great stuff. Thanks a lot and sorry for late reply :)

[2017-04-03 19:49] visualcookie commented on #3
Still not working for me.

` Unknown custom element: <progressive-img> - did you register the component correctly? For recursive components, make sure to provide the "name" option. `

[2017-04-03 20:28] MatteoGabriele commented on #3
hi @visualcookie I can't really reproduce it, do you have a repo where i can check this issue you have? thanks a lot!

[2017-04-05 10:45] visualcookie commented on #3
Now it works for me. Had some issues inside my `Vue.use()` usage.

[2017-04-05 10:47] visualcookie opened #5 "Variable usage"
I'm having a data variables of `movieBackdropSrc`, which gets filled by an API. Now I want to be able to have the image loading, but it won't work.

Code I'm using: `<progressive-background src="movieBackdropSrc" />`.
I also tried `<progressive-background :src="movieBackdropSrc" />`.

[2017-04-05 10:57] MatteoGabriele commented on #5
Can you be more specific, please? :)
Maybe a some code.

if you want to pass a variable instead of string then it's mandatory to pass it with semi colons or it will try to load the string `movieBackdropSrc` as an image.

If you need to load images from an api end point probably you want to use an `v-if` in the progressive-image instance.

Progressive image handles image loading process, doesn't wa

[2017-04-05 11:11] visualcookie commented on #5
Can't really show much code here, since it's still a private project. What did the trick, as you already said, was using `v-if`.

`<progressive-background v-if="backdropVisible" :src="movieBackdropSrc" />`

Thanks so far, for the help. :)

[2017-04-05 11:29] MatteoGabriele commented on #5
@visualcookie you're welcome :)

[2017-04-13 10:07] MatteoGabriele opened #7 "Image doesn't respect its original size"
The image should be responsive, right now it stretch 100%

[2017-04-13 10:08] #7 closed

[2017-04-22 14:39] MatteoGabriele commented on #4
Not really possible to load the images according to the screen size or resolution. Very complicated.

If someone has any idea on this please send me a Pull Request

[2017-04-22 14:39] #4 closed

[2017-04-27 18:39] kodekrendel opened #8 "How to load on scroll?"
Hi.

Is there an option to load images as I scroll down? They all appears at one moment. I have at test page 5 images. I want them lazyload as I scroll down.

[2017-04-27 18:46] MatteoGabriele commented on #8
hi @kodekrendel

no, there's option for that right now. every instance of the progressive image is standalone. locally they might load simultaneously but usually they don't ( depending on the quality )

if you want to do it yourself, you could just make a loop of the component and push images as you scroll down. the rest would be handled by the component's logic.

i might gonna work on a feature l

[2017-04-27 18:53] kodekrendel commented on #8
Hmm, how to do that? Not sure I understand. I'll be happy to try, if you elaborate.

And I am surely will appreciate this feature out-of-the-box. I tried progressive-image package, but they have issue with my server-rendered Nuxt app. Your package seems like work fine with SSR which is nice already (got "client-side rendered virtual DOM tree is not matching server-rendered content" error in consol

[2017-04-27 19:41] MatteoGabriele commented on #8
you need to calculate when the scroll reaches the bottom and push other images. Just made a quick example with a `setInterval` just to show you the _pushing_ part I was talking about :)

this is my component

[code]

and this is the view

[code]

It's a super basic one, but if you change the interval with a scroll event that calculates when you reach the bottom of the page, you need to push images

[2017-04-27 20:05] kodekrendel commented on #8
Hm, I'm pretty sure that this *pushing* part is not what needed since it not very user friendly. By lazyloading I mean blur-opacity effect, not pushing. The place of image must be reserved for sure, imho.

[2017-04-27 20:13] MatteoGabriele commented on #8
The images start lazyloading as soon as they are added to the DOM, that's why I said to push images into an array.

Mine was only an example/workaround

[2017-04-27 20:16] MatteoGabriele commented on #8
If you want the blur-effect you only need to add a placeholder, that's it and the amount is also configurable

[2017-04-27 20:16] kodekrendel commented on #8
Agree, in that example hardcoded interval, may be in native implementation it will be more smooth, as far as I can imagine.

[2017-04-27 20:17] kodekrendel commented on #8
There's a placeholder in your example: `:placeholder="image"`, or you mean tiny images? Then this will work other way?

[2017-04-27 20:19] MatteoGabriele commented on #8
if you want a real progressive image you only need a compression tool like [ImageminPlugin](https://github.com/Klathmon/imagemin-webpack-plugin)

my progressive loading it's fake :)

To create di effect you need to images with the same aspect ration, the placeholder tho is a very very low quality version of the main image.

It's all written in the documentation

[2017-04-27 20:22] kodekrendel commented on #8
Your progresssibve loading is fine for me, but the fact, that it trigger ALL images on page at once (I have 3 image in article, and I want that load effect WHEN user scroll to that image, not if that image in the viewport).

[2017-04-27 20:24] kodekrendel commented on #8
Placeholder is not working. Seemse like that pushing is broke it.

[2017-04-27 20:26] MatteoGabriele commented on #8
Yeah I got the point. It's not possible :)
At least not now.

My example works, just made it, but i was using this to have the effect

[code]

Locally they will just load at the same time because it's the same image

I'll see what I can do

[2017-04-27 20:27] kodekrendel commented on #8
No, it's still loading images one by one and glitch scrollbar. Placeholder doesn't do that trick.

[2017-04-27 20:32] kodekrendel commented on #8
In docummentation unclear how to use it:

[code]
What whould I leave it empty?

[2017-04-27 20:33] kodekrendel commented on #8
I don't understand but placeholders doesn't work at all :smile:

[2017-04-27 20:36] MatteoGabriele commented on #8
You should read also the text around the code: those are events triggered by the component, so you know when an image or its placeholder are loaded.

[2017-04-27 20:37] MatteoGabriele commented on #8
This is the example i wrote you: and it works.
Every 2 seconds a new image is pushed and the blur kicks in and then the full hd image fades.

![screen recording 2017-04-27 at 10 34 pm](https://cloud.githubusercontent.com/assets/5337152/25503258/f90fb458-2b99-11e7-8905-22f9f5317925.gif)

[2017-04-27 20:40] kodekrendel commented on #8
Strange. I have the opposite - http://five-burst.surge.sh/images2/

[2017-04-27 20:42] MatteoGabriele commented on #8
The opposite?? Looks the same to me!

[2017-04-27 20:43] kodekrendel commented on #8
How it the same - look at the scrollbar. It increase the page height! I want it PLACEHOLD)))

[2017-04-27 20:44] kodekrendel commented on #8
There are NO space, untill image appears. I need it, to page not to give that pushing behaviour,

[2017-04-27 20:50] MatteoGabriele commented on #8
if you want that you need to find a way to handle it yourself via CSS maybe or Javascript.
Right now the library only loads images independently: one by one.
If you put 20 images  they will start loading and add space almost immediately.

You want too much, this is not a website: it's a plugin :)
You need to do the rest.

[2017-04-27 21:11] kodekrendel commented on #8
@MatteoGabriele I don't want much, I want a placeholder :smile:
On your screenshot it's clear that when you scroll down there's the space under Image. I don't know how you do that, but CSS has nothing to do with that for sure.

[2017-04-27 21:13] kodekrendel commented on #8
No they don't! That code will add space one by one image for 1 second. I don't know why your screenshot working other way.

[2017-04-27 21:13] MatteoGabriele commented on #8
i just add 2000px height on the container. was only an example. the placeholder works, not for lazy loading on scroll.

[2017-04-27 21:16] kodekrendel commented on #8
Ok, that explains. :smile:

Anyway, thanks for your time. Well crafted plugin, and works out-of-box with SSR - and that's something I must say :+1:

[2017-04-27 21:19] MatteoGabriele commented on #8
Thanks.
The plugin was meant to be used for scenarios like thumbnails or images within content to avoid jumping of text or other divs, like in the gif in the documentation: not for lazy loading on scroll.

For that, you might need to wait until I find a way, if I find a way compatible with the nature of the component

Thanks for your feedback :)

[2017-04-28 07:47] MatteoGabriele commented on #8
so I'm going to close this one as a resolved question, make some tests and see if i can open a ticket for a sort of method to trigger the effect when images are in the viewport.

[2017-04-28 07:47] #8 closed

[2017-04-28 21:37] kodekrendel commented on #8
Sure! And I after little research, still will stick with vue-progressive-image. Thanks!

[2017-06-27 23:03] rchrdnsh opened #9 "Don't know how to get this to work in a vue-pwa, or a .vue single-file component..."
Having trouble making this work in .vue single file component inside a vue-pwa template app...

first off... dunno where...

[code]

...is supposed to go or what it's purpose is. my 'main.js' file looks like this...

[code]

...dunno if that is how it's supposed to be set up in the main.js file.

So, the component .vue file I'm trying to add vue-progressive-images to looks like this inside the scr

[2017-06-28 07:10] MatteoGabriele commented on #9
Hi rchrdnsh
Well basically when you use a plug-in you have to register it to the Vue instance calling the `use` method.

After that you don't have to import anything else, like in the examples, the components are available globally in your application.

Just use `<progressive-img src="image path here" />` and provide a placeholder image (possibly very small in size and with same aspect ratio of th

[2017-06-29 00:07] rchrdnsh commented on #9
ok, let me set one up, then I'll share it with you :-)

[2017-06-29 00:54] rchrdnsh commented on #9
I tried putting the images in the static folder, rather than the assets folder, and it works, so it seems to be an issue with how the plugin and Webpack work together maybe? I might be missing something that I need to add to make it work if I want to serve the images from the assets folder in the Webpack based template?

[2017-06-29 05:24] rchrdnsh commented on #9
ok, got the plugin to work using images in the static folder, as I said before, but there are a few odd things going on that I don't know how to alter.

First off, I'm using the polymer technique of taking my original image and downsizing it to roughly 1 percent of it's original size. For example, I am downsizing 1920 by 1200 pixel images to 8 by 5 pixels, then compressing them and base64 encoding

[2017-06-30 11:38] MatteoGabriele commented on #9
well for the image size, my bad I said "size" but i was thinking about file size: the picture should be same width and height of the image you want to load. The trick is that if you reduce its quality you can have a super cheap image to use as a placeholder.

for the url, that's a webpack problem: when you pass something like `~assets/image/my-image.jpg` to a component webpack doesn't process it a

[2017-07-02 19:28] rchrdnsh commented on #9
hmmmm, I see. For me even a 0% quality image of the same size is still really big, so it does not really help me all that much. I suggest looking into the 200 byte pattern that many people are adopting and maybe try to support that option in the future :-)

Here is a video explaining the concept by Rob Dodson from Google Dev Rel:

https://www.youtube.com/watch?v=iAgSvlYavX0

and here is the web co

[2017-07-03 07:12] MatteoGabriele commented on #9
Thanks a lot! Always nice to read that :)
I'll take a look at this documentation: it sounds interesting.

Besides this though, did u have time to make the example? Otherwise I can't help you that much.

I might gonna make an example folder directly in the repo itself so that people can copy paste or at least understand how should work

[2017-07-03 08:37] qigeligedongdongqiang opened #10 "the size of image can't zoom"
如果原图大小是300x300px,设置img标签的width大于300px图片无法缩放，仍显示原图的width
the size of a image is 300x300px,when setting the img label style width <300px ,it's normal. but when setting the img label style width >300px,it will be abnormal.

[2017-07-03 13:49] MatteoGabriele commented on #10
could you rewrite it all in English, please?

[2017-07-08 03:41] qigeligedongdongqiang commented on #10
For example:
Here i have a imageCase.vue,

[code]

then i use the imageCase in another vue like this,

[code]

Now the problem comes,if the source image is a picture which width >1025px and height >245px, it can be zoom and works well.But when the width <1025px or height < 245px,it will be abnormal,the image can't zoom to fill .

[2017-07-12 17:02] MatteoGabriele commented on #10
Hi @qigeligedongdongqiang
could you please provide a public repository with the example that has the issue you're talking about?
thanks a lot

[2017-07-28 19:32] dschreij opened #11 "Make fade-in duration a customisable parameter"
Thanks for creating this great module. I have one request.
Before the placeholder is loaded, the image is faded in from grey (as it seems), but this goes a little bit too slow for my taste. Would it be possible to make this fade-in speed customisable per parameter, as you currently also already allow for blur amount and delay?

[2017-07-29 15:25] MatteoGabriele commented on #10
i close this issue for inactivity, open it in anytime if you provide more info

[2017-07-29 15:25] #10 closed

[2017-07-29 15:30] MatteoGabriele commented on #9
I close this issue for inactivity, open it in anytime if you provide more info.
ps: I'm working on an update that will provide the ability to add a very tiny image as a placeholder that will stretch as big as the main image.

[2017-07-29 15:30] #9 closed

[2017-07-29 16:38] MatteoGabriele commented on #11
I have actually tried, but then I just realized that as it is now, is not possible to customize the transition between the placeholder and the main image because the transition-delay property is assigned to another class and I have no access on that class during the animation.

If you have any idea on how to implement this feature, would be nice

[2017-07-29 20:23] dschreij commented on #11
Thanks! I will think about it. I haven't got any in-depth knowledge of your module yet, but if I have the time I will have a look. And if it is too much trouble to implement this, then it is fine as it is.

[2017-07-29 20:26] MatteoGabriele commented on #11
I'll leave the ticket open, maybe someone wants to pick it up: you never know 😄
Or maybe I will think about something else to handle animations, but css is the most cheap animation I can think of.

[2017-07-30 23:52] dmattia opened #12 "Safari and Mobile Support"
I am using this component in an app of mine and it works fine on Chrome.  However, it fails to load the desired image on mobile chrome (iOS), mobile Safari (iOS), and Mac Safari v10.1.2.  On all three browsers, it only displays the thumbnail image permanently and console.errors the message

`The index is not in the allowed range.`

[2017-07-31 07:43] #12 closed

[2017-07-31 07:45] MatteoGabriele commented on #12
Thanks for you feedback :)
bug fixed with v2.1.1

[2017-08-03 21:39] MatteoGabriele opened #14 "Add examples"
Add examples on how to you the plugin to better understand how to use it and how to test it for future updates.

[2017-08-03 21:44] rchrdnsh commented on #9
awesome, keep me posted on your work on this, and thank you very much for your time and effort :-)

[2017-08-03 21:47] MatteoGabriele commented on #9
@rchrdnsh it's already available with the latest version :)

[2017-08-04 18:55] rchrdnsh commented on #9
sweet! will check it out then XD

[2017-08-10 21:55] inbrighttech opened #15 "Error using blur prop on progressive-img component"
Thank you for this,

Need a little help here, kind of a noob. I was testing the placeholder with blur as in the README:
.....
src="https://unsplash.it/1920/1080?image=10"
placeholder="https://unsplash.it/1920/1080?image=10"
blur="30"
....

And get this error:

Tried changing
blur="30" to  blur=30.... No success

[2017-08-13 18:17] MatteoGabriele commented on #15
hi @inbrighttech
you need to prepend the attribute with a semicolon, otherwise the value is interpreted as a string.
The example has a typo that I didn't see until now, sorry :)

[code]
I'm working on some nice example to add to the repo so that's more easy to learn

[2017-08-13 18:17] #15 closed

[2017-08-19 02:36] rchrdnsh opened #16 "How do I style these images?"
I dropped the <progressive-img> plugin into my app, then replaced an <img> tag with it, and all the images in my v-for loop got super small...so I don't know what to do to make it work right, css wise. My standard CSS for images is:

[code]
...for all images to be responsive. So that apparently does not work for this plugin, so what is the appropriate styling for <progressive-img> to work properly

[2017-08-19 07:17] MatteoGabriele commented on #16
Images should already be responsive by default with this plug-in. Could u make a small reproduction so that I can have a look?
It's hard to say because I don't know the css applied in your application.

[2017-08-26 15:41] adavie1 opened #17 "Problems with progressive-background"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

Installed OK and testing the progressive-background component. It loads the image, but it pushes the content that ought to be on top, below.

What are you reporting?

Currently I'm loading the image with as follows:
[code]
Replaced with:
[code]

Tell us what you think should happen.

The Login

[2017-08-30 12:13] #17 closed

[2017-08-30 12:14] MatteoGabriele commented on #17
bug fixed with vue-progressive-image@2.1.3

thanks for your feedback :)

[2017-09-01 04:17] adavie1 opened #18 "v2.1.3 Failed to mount component: template or render function not defined"
This may be me being stupid (quite likely :-D), but I'm getting the above error.

### Expected behavior
[code]
Should display the progressive-background image with the content on top.

As a side note, I prefer not to use `Vue.use(...)` as a general rule. Only used for UI frameworks that are used throughout the app.

I've tried with `Vue.use(ProgressiveBackground)` still get the same issue.

### Ac

[2017-09-01 07:58] MatteoGabriele commented on #18
Hi @adavie1
well you should use the `use` method because that one installs the components: I don't create 2 single components file but just one file that holds them both. It's mandatory.

For the other problem of the content not visible, this is fixed with the 2.1.3 ( latest release )
If after a normal installation still doesn't work, please create a reproduction of this issue and re-open this tic

[2017-09-01 07:58] #18 closed

[2017-09-01 09:50] adavie1 commented on #18
Noted. All working OK now. Thanks

[2017-09-01 10:09] adavie1 opened #19 "[Feature Request] - Background Video"
@MatteoGabriele thanks for creating a great component and being very responsive in fixing things. As a suggestion for a future component, have you considered doing a background-video component?
I tried another component for this, but it had issues.

I've got it working outside of Vue using this [codepen](https://codepen.io/dudleystorey/pen/knqyK?editors=1010)

[2017-09-03 09:48] distolma opened #20 "Dynamic URL"
Hi Gabriele, excellent work. It would be better if you add support for dynamical URL. For example i load my background image url from another server, and my default image url it's just empty string. When i received response from another server whit two urls (small and full image) and pass urls to my background component and then to `progressive-background` component, nothing happens. Maybe nothing

[2017-09-03 11:21] MatteoGabriele commented on #20
Hi @distolma thanks for your feedback :)

I have to be honest, I don't really understand your suggestion about the dynamic url.
Yes I load images on mounted because I need the DOM to be ready. There's a trick that allow me to know exactly when the image is loaded and rendered in the browser and I need to use a canvas element and an image tag.

If you could add some code examples of what you mean w

[2017-09-03 11:23] MatteoGabriele commented on #19
Hi @adavie1 thanks a lot!

Managing a video it's not really the same as managing an image and would probably go outside the scope of this package.
Could be maybe a suggestion for another package
I'll let you know if maybe I'm going to make it, It's a good idea.

Thanks a lot for your feedback

[2017-09-03 11:23] #19 closed

[2017-09-03 15:10] smarterdigitalltd commented on #20
Hello @MatteoGabriele

I have just found your library, and I *think* I have the same issue as @distolma which is why I am jumping in.

I too have an external API where I get the image URL from.

In my component, on the created() lifecycle hook, I use Axios to get the URL from the API and then set a component data property to the value

[code]

In my `<progressive-img>` component, I then need to us

[2017-09-03 15:25] distolma commented on #20
@smarterdigitalltd yes, my issue is similar to your.

@MatteoGabriele i have background image, that i get from unsplash API. Initial state is object with two keys (small and full image) and this set to empty string.
[code]
When app is `mounted`, `axios` fetch data from unsplash API and `vuex` mutated the initial store.
[code]
However, when app is mounted, `<progressive-img>` is started to load ima

[2017-09-03 15:35] MatteoGabriele commented on #20
Ah ok I got the point! Basically the component is not reactive.
I have little more clear what you guys mean. I'll see what I can do.

thanks for your feedback :)

[2017-09-03 18:14] smarterdigitalltd commented on #20
Thank you too @MatteoGabriele! 👍

[2017-09-08 23:06] rchrdnsh opened #21 "Cannot get this to work inside of my component..."
Soooo, I can get this to work with a basic image with basic CSS, like so:

[code]

...but I cannot seem to get it to work with more specific CSS inside of a custom vue component. the image simply does not show up at all.

Can you see anything in this CSS that might be causing an issue with the plugin?

This is the CSS of the parent component:

[code]

and here is the CSS of the progressive-image,

[2017-09-14 13:42] MatteoGabriele commented on #20
Sorry for the late fix, I was busy as hell! 😄
published with vue-progressive-image@2.1.4

let me know if it works as expected!

thanks again for your feedback

[2017-09-14 14:06] MatteoGabriele commented on #21
@rchrdnsh it shows for me, you are simply targeting the `progressive-img` as a tag that doesn't exist in your html: you need to add a class and apply your style.

[2017-09-14 14:06] #21 closed

[2017-09-14 14:08] MatteoGabriele commented on #16
I will close this one for inactivity

[2017-09-14 14:08] #16 closed

[2017-09-14 18:53] distolma commented on #20
Hi, thanks for fix.
it almost works, but has some bug. VPI worked perfectly when mounted first time. Small and full images are correct.

![image](https://user-images.githubusercontent.com/16022556/30447303-4d822832-9994-11e7-9f97-bd553436143f.png)

but when component receives new `src` small image updates, but full image remains the same
![image](https://user-images.githubusercontent.com/16022556/

[2017-09-14 19:03] MatteoGabriele commented on #20
@distolma I can't see the images you posted, there's a server error

[2017-09-14 19:05] MatteoGabriele commented on #20
@distolma but would be nice if you could make a repository that I can take a lot at. With a reproduction of these errors I can probably fix it way easier.

thanks

[2017-09-14 19:35] distolma commented on #20
@MatteoGabriele https://github.com/distolma/vue-issue

[2017-09-15 08:14] MatteoGabriele commented on #20
I think I've fixed it this time! :)
thanks a lot for your feedback

see vue-progressive-image@2.1.5

I'll wait your feedback before closing the ticket again

[2017-09-15 12:39] distolma commented on #20
Thanks, the component works good. 🎉

[2017-09-15 12:42] MatteoGabriele commented on #20
@distolma nice!

thanks again :)

[2017-09-15 12:42] #20 closed

[2017-09-22 05:48] hyeokluv opened #22 "Can this be used in server-side rendering?"
**The easiest example is how do I set up to use vue-progressive-image in nuxt.js?**

ssr: false, or if (process.BROWSER_BUILD) {} setting.

--
The error message is as follows.

_[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content. HTML markup, for example nesting block-level elements inside <p>, or missing <tbody>. Billing hydration and performing full cli

[2017-09-25 19:59] skoulix commented on #22
If you are using the latest 1.0.0-rc11 nuxt.js version you can wrap the image component with the `<no-ssr>` tag and it will work. An example is

[code]
The warnings should be gone.

[2017-09-25 20:34] MatteoGabriele commented on #22
Hi @hyeokluv
I actually don't use `document` or `window` objects, but during compilation a `document.create('style')` snippet is added to the distribution file and I guess is used to be able to inject the vue-progressive-image css.

The solution of @Skoulix it works just fine for Nuxt. Thanks :)

I don't really know how to avoid this plugin to break on SSR, if you have any ideas please let me know

[2017-09-25 22:36] arturogf93 opened #23 "onerror url"
Is there a way to put a placeholder if the url is broken?

[2017-09-26 11:58] MatteoGabriele commented on #23
Hi @arturogf93
not it's not possible now, but I can implement that: sounds like a nice feature.

thanks for your feedback

[2017-09-26 20:37] rchrdnsh commented on #21
ok @MatteoGabriele, I added a '.progressive-image' class to the tag and it is now working, except the image itself is not adhering to it's 'object-fit: cover' css property. The placeholder image does adhere to the 'object-fit: cover' css property, however, which seems a little bit odd:

<img width="1440" alt="screenshot 2017-09-26 13 48 24" src="https://user-images.githubusercontent.com/7884263/30

[2017-09-27 08:37] MatteoGabriele commented on #21
you might want to use `progressive-background` for this, the `progressive-img` it maintains a responsive aspect ratio, that's why doesn't fit completely and also remember that when you add the object-fit property to your `.progressive-image` class, you are not actually targeting an img tag, but a bunch of divs and an image tag somewhere inside that structure: make sense that doesn't work :)

[2017-09-27 09:57] #23 closed

[2017-09-27 10:00] MatteoGabriele commented on #23
I've added the `fallback` property so that you can basically load another image if the main one is broken

your can see it [here](https://github.com/MatteoGabriele/vue-progressive-image#image-fallback)

and I have also added the `onError` and `onErrorPlaceholder` events if you need to

[2017-09-27 18:07] rchrdnsh commented on #21
yes! progressive-background did the trick! smart idea as well @MatteoGabriele :-)

[2017-09-27 18:08] rchrdnsh commented on #21
And I want to thank again for taking the time to make this...it really is a nice UX enhancement :-)

[2017-09-27 18:09] MatteoGabriele commented on #21
@rchrdnsh thanks a lot :)

[2017-09-28 19:53] rchrdnsh opened #24 "Maybe a bug in mobile safari?"
### Description

I am noticing an issue that seems to effect mobile safari. I have a nested .vue component with named slots that is being used in a v-for loop to loop through an array of objects. When I use the normal `<img>` tag in the loop everything works as expected. When I use the `<progressive-background>` tag the text that is over-layed on top the image disappears on subsequent iterations t

[2017-09-28 20:24] MatteoGabriele commented on #24
hey @rchrdnsh
I'm sorry but I have to ask you a fair reproduction: a simple application with your issue.
Just looking at it this could literally be everything with big chance of just some of your application style making some weird glitch.

[2017-09-29 09:21] merijnvdk commented on #11
Can it not be done by adding these features to separate css classes and conditionally assigning the css classes? (I did not dive into this yet)
Same thing maybe for the 'zoom' effect transition from placholder to main image. personally i would like to disable it. maybe I can with css, have not tried yet.

[2017-09-29 11:16] MatteoGabriele commented on #11
It's not that easy. How to do you change all the classes? how do you assign classnames for the animations.
You should have a deep look at the structure of the plugin, is not very difficult but it has its own complexity: took me a while to figure out the right balance to be not too "opinionated" and do what he was suppose to do.
If you add too much css that it's impossible to style, if you don't ad

[2017-09-29 11:58] merijnvdk commented on #11
I've looked at this and as these tweaks can be done by css styling. So I think the best solution for this issue is to update the readme with a section about styling this plugin.

Could add something like this:

[code]

[2017-09-29 12:14] MatteoGabriele commented on #11
But I guess this it's just common sense: if you need to tweak something just override the styling.
If you think that is not obvious can be added for sure.
Still want to add examples and stuff like this, but I always forget that 😆

[2017-09-29 12:48] merijnvdk commented on #11
Its obvious if you know the plugin in and out, but it requires some diving-in to find out how and where things are done. So some simple examples for the most likely use-cases would improve the user-friendlyness of this plugin. But I agree its just a *nice to have*.

[2017-09-29 13:18] MatteoGabriele commented on #11
True that! I definitely have to spend some time to add some examples

[2017-09-29 14:09] MatteoGabriele commented on #24
I just tested other browsers and it works.
First Chrome, middle one is Safari and the last one is Safari in iphoneX (ios11)

![screen recording 2017-09-29 at 04 06 pm](https://user-images.githubusercontent.com/5337152/31019552-4ee932fe-a530-11e7-80a7-b881a2bab8fa.gif)

It's probably due to some CSS in your application.
Let me know if you find a way to reproduce the error, for now I'm going to clos

[2017-09-29 14:09] #24 closed

[2017-09-29 14:12] MatteoGabriele commented on #11
Well since @merijnvdk found a way to change those properties, I close this ticket.
There's already an issue for the "example" ( see #14 ) :)

[2017-09-29 14:12] #11 closed

[2017-10-01 01:35] rchrdnsh commented on #24
ok, I'll try to create a simple reproduction of the issue to help you out :-)

[2017-10-03 16:23] johncloud200 opened #26 "Expected String, got Null."
`:src="post.image" fallback="no-image-available.png"`
Invalid prop: type check failed for prop "src". Expected String, got Null.

Solution :
`:src="post.image || 'no-image-available.png'" fallback="no-image-available.png"`

Can we accept null and go to fallback without got error?

[2017-10-03 16:46] MatteoGabriele commented on #26
Yeah i thought about it few times, I was just passing an empty string as default, but I guess just accepting everything and let the developer decide could be a better solution.

Thanks for your feedback

[2017-10-03 18:01] #26 closed

[2017-10-03 18:03] MatteoGabriele commented on #26
you can find the update on the latest v2.3.1

[2017-10-05 06:12] #14 closed

[2017-10-09 17:16] desprit commented on #16
Hi @MatteoGabriele

Issue with styles is real and it happens when styles are scoped. I was using `vue-loader` version ~11.x.x and this syntax:
[code]
doesn't work. If I remove `scoped` attribute, it works fine. I'm not sure why and how but it was fixed in `vue-loader` v.12.2.x+:
https://github.com/vuejs/vue-loader/releases/tag/v12.2.0

[code]

Leaving it here just in case someone else faces same i

[2017-10-09 18:32] MatteoGabriele commented on #16
Yeah true, now I remember that!
Thanks man :)

[2017-10-26 15:28] andrii-trush opened #27 "Bind all images are loaded"
Hello. I have several progressive-img components in my component. How can I bind all images were loaded dynamically.

[2017-10-26 21:38] MatteoGabriele commented on #27
I'm sorry but I didn't quite understand, could you maybe add an example or be more specific?
thanks a lot

[2017-10-27 11:33] james-clare opened #28 "Invalid prop: type check failed for prop "aspectRatio". Expected Number, got String."
### Description
Despite the prop 'aspect-ratio' working correctly, it throws up this error in the console.

### Example code
`<progressive-img :src="result.img" placeholder="http://via.placeholder.com/350x350" aspect-ratio="1" />`

### Environment
vue-progressive-image@2.3.1

![image](https://user-images.githubusercontent.com/12260295/32102148-fc99803c-bb12-11e7-9dea-7f0d1f236c54.png)

[2017-10-27 11:36] MatteoGabriele commented on #28
Hi @james-clare
you need to add the colon to the attribute so it will parse it as a number

[code]

[2017-10-27 11:36] #28 closed

[2017-11-02 04:10] ruchikarnawan commented on #3
hello @visualcookie can you tell me how to fix `Unknown custom element: <progressive-img> - did you register the component correctly? For recursive components, make sure to provide the "name" option.` Thanks

[2017-11-02 15:40] visualcookie commented on #3
@ruchikarnawan You have to define vue-progressive-image where you have your Vue instance starting, like so:

[code]

[2017-11-03 00:13] Pinch1A opened #29 "Editable CSS"
Would be really handy have total access to the image itself and control dims and positioning of the `<img>` elem.

[2017-11-03 07:42] ruchikarnawan commented on #3
So it turns out this define method
`var vueProgressiveImage = require('vue-progressive-image');`
is different with this
`import VueProgressiveImage from 'vue-progessive-image'`

I'm new with vue, so I thought it was the same way, 🤣
Thanks @visualcookie and thanks @MatteoGabriele for the awesome plugin  🥂 🎉

[2017-11-03 10:22] MatteoGabriele commented on #29
Well that's not really possible: all positioning are done via javascript/css calculations.
If you want to change some CSS properties you need to target the component and do it the old school way: overriding CSS.
If you have some special use cases please drop a more specific issue, but this request at this moment can't be done.

thanks for your feedback :)

[2017-11-03 10:22] #29 closed

[2017-11-06 17:21] marklundin opened #30 "canvas is undefined if progressive-background is not mounted"
### Description

When a `progressive-background` image is declared in JSX but is not displayed/mounted because of a `v-if` flag, it will throw an `TypeError: Cannot read property 'getContext' of undefined`

### Expected behavior

The lib should either only load the image when mounted, or pre load but not draw to the canvas

### Actual behavior

[getContext](https://github.com/MatteoGabriele/vue-pr

[2017-11-06 21:08] MatteoGabriele commented on #30
Hi @marklundin
I can't reproduce this error, to be honest: also because I can't not even use v-if in jsx and vue
could you provide a reproduction of your issue in a public repo?

Thanks a lot for your feedback

[2017-11-06 21:20] MatteoGabriele commented on #27
I close this ticket for inactivity. feel free to open it again when you have more info

[2017-11-06 21:20] #27 closed

[2017-11-07 16:47] luiztsmelo opened #31 "Why "width: 100%; height: auto" doesn't work ?"
I'm trying to make the img responsive with these css attributes, but it doesn't work. Why? What can I do to make it responsive?

[2017-11-07 23:37] marklundin commented on #30
Hi @MatteoGabriele, I've put together [a reproduction](http://requirebin.com/?gist=5df501ca218095d63c6a2e15989118c1), although it's slightly different to what I originally thought.

In this instance I'm creating a `progressive-img` and the immediately unmounting it. Internally this causes the img.load to kick off, but by the time the load finishes the component has been unmounted. Should just be a

[2017-11-08 00:06] MatteoGabriele commented on #30
@marklundin I got the point now.
thanks for your time!

[2017-11-12 14:06] MatteoGabriele commented on #31
The image is already responsive: what's the issue?
could you make an example and explain better what's happening?

thanks :)

[2017-11-12 14:18] luiztsmelo commented on #31
Well, I forgot what was happening here, but it's all working now. Sorry for inconvenience

[2017-11-12 14:18] #31 closed

[2017-11-12 14:31] #30 closed

[2017-11-12 14:34] MatteoGabriele commented on #31
no problems!
If you remember what's happening or it happens again, feel free to open it again

thanks

[2017-11-12 15:33] marklundin commented on #30
🤘

[2017-11-12 15:36] MatteoGabriele commented on #30
:ok_hand:

[2017-11-18 09:28] johncloud200 opened #32 "Fallback doesn't have global option?"

[2017-11-18 10:09] johncloud200 commented on #20
Hi Q(^_^)Q
I have similar case also

```:src="await.img.from.api"```

it works, but when I add the fallback

```fallback="//example.com/image.jpg"```

always show **fallback** instead of **src**

any one know how to fix?

[2017-11-18 11:00] MatteoGabriele commented on #20
Be sure that the image you are binding is working properly otherwise I'll suggest you to create a small repository describing the error that you have so that I can have a look.

Cheers

[2017-11-21 08:46] MatteoGabriele commented on #32
No, at this moment is not possible
I will add a check for this :)

thanks for your feedback

[2017-11-21 09:40] #32 closed

[2017-11-21 09:42] MatteoGabriele commented on #32
@johncloud200 the global option is now available with the v2.4.0

[2017-11-29 01:24] maxim25 opened #33 "Scroll stutter"
Hi,

I've noticed that when using this library with multiple images (not many, maybe 8), the scroll becomes jagged. And when replacing the progressive-background component with simple images the lag seems to be gone.

Has anyone else experienced issues like this? Any idea on how to remedy this?

note:

In chrome dev tools rendering, when turning on "Paint Flashing" and "Scrolling Performance issue

[2017-11-29 04:56] maxim25 commented on #33
Edit:

By the looks of it, if I remove the placeholder after the images are loaded the scroll is smooth again.
Also, it only seems to affect progressive-background, progressive-img works fine.

[2017-11-29 16:01] MatteoGabriele commented on #33
hi @maxim25
unfortunately I can't reproduce it! could you be so kind to make a small reproduction in a public repository?

thanks a lot

cheers

[2017-11-30 01:44] maxim25 commented on #33
Thanks, I'll try to get a simple reproduction up sometime today.
Otherwise this repo is working great!

In the meantime, this is my code:

`<no-ssr>
        <progressive-background
          class="listing__image"
          :src="mainImage"
          :placeholder="placeholderImage"
          no-ratio>
        </progressive-background>
   </no-ssr>`

mainImage is a simple 512X512 jpg
placeholderIma

[2017-11-30 02:58] maxim25 commented on #33
# @MatteoGabriele

I've created a simple reproduction of the issue:
[https://github.com/maxim25/prog-image-bug](https://github.com/maxim25/prog-image-bug)

[2017-11-30 10:27] MatteoGabriele commented on #33
@maxim25 thanks for your help!
I see the scroll behavior that you said, but I don't know why it works fine with the image and it doesn't with background.
The only think I can come up with is that, the background handling is more on the CSS that in the DOM, so it kinda less performant but... I'm just guessing, to be honest.

I will have a look, but feel free to share a possible solution if you have

[2017-12-01 02:05] maxim25 commented on #33
When you delete the placeholder the issue disappears. What do you think about deleting the placeholder node after the main image is loaded?

[2017-12-01 02:32] maxim25 commented on #33
@MatteoGabriele the following sorta seems to work, however the stutter persists until all images are loaded.

mixin/image.js
[code]

Edit:

I think I have found the main culprit: translateZ

I know the hack is supposed to yield a performance gain, but by the looks of it it is doing the exact opposite in this case. I propose to remove it, as well as set placeholderImage to null. I get a steady 60fp

[2017-12-01 09:51] MatteoGabriele commented on #33
@maxim25 Cool man, thanks!
I'm gonna try it right away!

[2017-12-01 12:25] MatteoGabriele commented on #33
@maxim25 the update is available with the 2.4.2

thanks a lot for your feedback!

[2017-12-01 12:36] maxim25 commented on #33
@MatteoGabriele Awesome, thanks!

[2017-12-03 22:04] coolemur opened #34 "Is this module tested on Safari?"
### Description

A bug ?

### Expected behavior

Smooth image change from blured to normal image.

### Actual behavior

In Safari Version 11.0.1 (13604.3.5) when image is loaded it doesn't change smoothly. It flashes with white background and then slowly shows image.

(In Chrome it works flawless.)

### Environment

`npm ls vue-progressive-image`:
└── vue-progressive-image@2.4.2
Then, specify:

1.

[2017-12-10 08:55] kingofwhales opened #35 "New Feature Request: Lazy Loading"
Is lazy loading possible with this plugin?

It would be nice to have lazy loading on top of this blurry progressive loading. Thanks!!

[2017-12-10 12:38] MatteoGabriele commented on #35
Yeah it's actually a feature that I would like to add.
Don't know if I will have time right now, but will probably be done.
If you want to you can obviously contribute to the plugin with a PR, would be really appreciated! :)

Cheers!

[2017-12-22 10:35] MatteoGabriele commented on #34
It actually was but I didn't check after latest updates to be honest.
I'll need to check again.
Thanks for the feedback

[2017-12-23 06:44] maxim25 commented on #33
@MatteoGabriele

Looks like the following now causes a flicker during image load:

https://github.com/MatteoGabriele/vue-progressive-image/blob/141c2d3886a1cd0aec7bd2a0d37f7acccc4c076f/src/mixin/image.js#L171

Might as well remove that line, the translateZ fixes the scroll lag regardless.

[2018-01-03 20:02] hjJunior opened #37 "Option 'placeholder' isn't working when is used Vue.use(...)"
### Description

Placeholder config in option doesn't work how I expected, just work if I setup in each component, I'm trying to define a default for all components the same placeholder.

### Expected behavior
I expect that setup made here changes all components in JSX mode
[code]
Using now just this
[code]
### Actual behavior

When I'm using this, just works if I setup for each component like thi

[2018-01-04 21:43] MatteoGabriele commented on #37
@hjJunior thanks for your feedback
Please, take your time to add a public repository that replicates this behavior.

thanks for your time

[2018-01-09 04:56] maxim25 commented on #33
Hi @MatteoGabriele, did you see my message above by any chance?

[2018-01-09 15:13] MatteoGabriele commented on #33
Hey @maxim25 yes I saw it :)
unfortunately I'm a bit busy this period. I will have a look as soon as possible.

Thanks a lot

[2018-01-22 04:52] mbarwick83 opened #38 "Adding IMPORT causes blank page"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

When I try adding, `import VueProgressiveImage from 'vue-progressive-image'` to my app.js file, in my Laravel project, the compiling the app returns a blank page. I remove the import, and my app loads as expected. Can figure out the issue!?

### Environment

Run this command in

[2018-01-22 08:38] MatteoGabriele commented on #38
hi @mbarwick83
thanks for your feedback, it's very strange but I'll have a check asap.

[2018-01-22 15:19] admench opened #39 "Pulling in from npm doesn't reflect latest features (e.g. alt prop)"
### Description

I pulled the package in from npm using `yarn add vue-progressive-image` getting version `2.4.2` (confusingly this repo's releases only goes up to `v.2.3.1` as of 22nd Jan 2018)

### Expected behavior
New alt tag feature implemented on 8db454ba272bf50d63ca7073a6e21eb5ec4a1eda should be available

### Actual behavior

Alt tag not available as a prop

### Environment

`npm ls vue-pro

[2018-01-22 15:38] MatteoGabriele commented on #39
hi @admench
I'm sorry for that, don't know why but it wasn't deployed correctly.

you can find the feature in the new vue-progressive-image@2.4.3

Thanks for your feedback :)

[2018-01-22 15:38] #39 closed

[2018-01-22 15:42] MatteoGabriele commented on #38
I really don't have this issue, but if you could try with the new build vue-progressive-image@2.4.3 would be great.
There were some problems during deploy of the 2.4.2 and so now also this issue could be fixed.

if it doesn't I suggest you to make a simple reproduction of you error and please also specify which OS version and browser version

thanks

[2018-01-22 16:04] wutmikee commented on #38
Negative. New version does not work. It's a bit hard for me to reproduce the error, especially online for you to view. It's a Laravel build, using Laravel Mix to compile assets. An environment would need to be set up.

macOS High Sierra / Safari Version 11.0.3 OR Chrome Version 63.0.3239.132 (Official Build) (64-bit)

[2018-01-22 16:23] MatteoGabriele commented on #38
The reproduction its useful for this cases in specific. Because everyone has a specific environment, use case or way of compiling, if the error cannot be reproduced alone, I can't help and it might be "your fault".

Please take your time to create a simple riproduction outside your project or I have to close this issue

Thanks for your feedback

[2018-01-22 16:33] wutmikee commented on #38
Sure, let me try and put something together for you.

[2018-01-22 17:55] wutmikee commented on #38
Okay, I build out a new Laravel/Vue project, and the issue is not there. Hmm. has to be something on my end. Fukkkkkk.  You an close this issue. Ps; if you have any tips on what it could be, please let me know!

[2018-01-22 20:46] MatteoGabriele commented on #38
No I'm sorry.
I usually keep frontend and backend separated as mush as I can. Don't know much about Laravel and Laravel Mix

good luck! :)

[2018-01-22 20:46] #38 closed

[2018-01-22 22:21] admench commented on #39
Thank you, worked a treat!

On 22 January 2018 at 15:38, Matteo Gabriele <notifications@github.com>
wrote:

[2018-01-23 01:20] wutmikee commented on #38
Thanks...looks like there's a dependancy conflict...which one, who knows. Thanks for your help - and great package btw!

[2018-01-23 08:19] MatteoGabriele commented on #34
I don't have any issues on safari and I have your same exact machine.
If you could create a github repo with a reproduction of this error would be perfect, otherwise I really can't see anything wrong.

Thanks for your feedback

[2018-01-23 08:19] #34 closed

[2018-01-23 08:22] MatteoGabriele commented on #33
hi @maxim25
I really can't see any problems. if you can create a reproduction of this issue would be great, otherwise I can't help you.

thanks again!

[2018-01-23 08:58] #37 closed

[2018-02-10 15:42] MatteoGabriele commented on #33
I close this issue for inactivity. Feel free to re-open it once you provide a reproduction

thanks

[2018-02-10 15:42] #33 closed

[2018-02-19 12:21] bovas85 opened #40 "FEATURE - Using srcset and different image breakpoints"
Can we add support (if not already present) for srcset and different breakpoints?

[2018-02-19 12:35] MatteoGabriele commented on #40
I already tried that road here https://github.com/MatteoGabriele/vue-progressive-image/issues/4
but it's very complicated and I don't know how to handle that.

feel free to make a PR if you have any ideas, otherwise I will close it, since the other one was open for a while but nobody had the chance to code on it.

Thanks

[2018-02-19 15:48] bovas85 commented on #40
I've wrapper this component into my component and load a different size depending on window innerWidth.

This works for me but a more generic code might be needed. I'll see if I can send a pr to the actual component itself

[2018-02-19 17:22] bovas85 commented on #35
I'm not sure how you'd be able to load the src image programmatically rather than asap.
Since you made the mixin, can you let me know how?

I'd use something like https://github.com/heavyy/vue-intersect/blob/master/README.md
vue-intersect to load the image when in the viewport.
This uses intersection observer

[2018-02-19 18:31] MatteoGabriele commented on #35
@bovas85  too be honest, lazy loading it's also not super user friendly if we talk about it in terms of _start loading only what you see when you see it_.
I think that images in the website should all slowly start loading so to have a smooth website with all in place without content staggering: that was my initial purpose for this plugin.

What do you want to know about the mixin?

[2018-02-19 18:34] MatteoGabriele commented on #40
@bovas85 thanks a lot for your time, if you could also just share the example you are talking about would be nice, so that I can have a bigger picture.

feel free to go with a PR, some help is more then welcome :)

[2018-02-19 18:35] MatteoGabriele commented on #22
@hyeokluv have you ever fixed this issue?
Thanks

[2018-02-19 18:37] bovas85 commented on #35
My idea is more to load images below the fold after dom load. This is mainly for grids of images, portfolios and blog articles where images might be below the fold.

An easy way is to set an intersect and switch on a data property when intersected, allowing the v-if to trigger and loading (lazily) these missing images.

[2018-02-19 18:37] bovas85 commented on #40
Yep will do tomorrow if I get the chance

[2018-02-19 18:42] MatteoGabriele commented on #35
Yeah, that is something that I understand. Could be useful.
I'll have a look at the library you mentioned.

Thanks :)

[2018-02-23 12:01] isuke01 commented on #40
Actually it can be done by using https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Testing_media_queries
Here come also  smal pack https://www.npmjs.com/package/matchmedia-polyfill if you need.

[2018-02-23 15:28] bovas85 commented on #40
@isuke01 browser support seems a bit lacky and requires a polyfill, which increases bundle size I guess.
I'll PR my option although it's not super pretty but definitely lighter.

[2018-02-23 15:39] bovas85 commented on #40
Actually I can't as the logic is very different, the easiest option for me seems to be to wrap into another component passing my props to it, then v-if else load the component depending on the window size, passing a different image size to it.
Image below shows the usage:
![code](https://user-images.githubusercontent.com/16958684/36602320-a2f1ba90-18af-11e8-9843-7e17e2e96340.png)

You can see $roo

[2018-02-24 10:53] MatteoGabriele commented on #40
@bovas85 could be possible to create a container component for this feature maybe

[2018-02-24 11:57] bovas85 commented on #40
It's a container component indeed. I called it LazyImage

I wouldn't know how to include it on your repo though

[2018-02-24 12:04] MatteoGabriele commented on #40
well if already exists then doesn't make sense to add it to this one.

[2018-02-24 13:10] bovas85 commented on #40
No what I meant is to add it as a functionality built in into it. That's ok I'll use it this way. Thanks anyway

[2018-02-24 13:10] #40 closed

[2018-02-24 14:44] MatteoGabriele commented on #40
I thought was already a package, we can still add it, you just create a new component and then you call it when you need to do lazy loading stuff

[2018-02-24 14:52] bovas85 commented on #40
@MatteoGabriele what you can see in the screenshot is my component that wraps around your plugin. The issue with me helping is that I wouldn't know how to replicate that in your package.

[2018-02-24 16:03] MatteoGabriele commented on #40
No idea, let me know if u can wrap it in a small repository with an example and I'll see if it works.

Thanks again

[2018-02-24 21:46] MatteoGabriele opened #41 "Add support for pre-loader slot"
Would be handy to have a place and logic to toggle pre-loaders.
The plugin knows perfectly when to display them or hide them

[2018-02-25 13:05] MatteoGabriele commented on #22
close this issue for inactivity, fee free to open it again for any issues of PR

[2018-02-25 13:05] #22 closed

[2018-02-26 14:51] ejlocop opened #42 "Problem using webpack (laravel 5.3 elixir) build"
Hi, i can't show you a reproduction link right now but i will as soon as i can. i just really need to fix or find another solution to fix this issue.

so, the problem is with the webpack. when i'm using just the `gulp watch`, it runs ok..
but when i tried to run `gulp --production`. i got this error.
can you tell me why? thank you.
[code]

[2018-02-26 15:08] MatteoGabriele commented on #42
Hi @ejlocop
Sorry but I can't help you like this.
Besides that you didn't fill in the template for the issue, I have no idea about what is your project, what is your build process and what are you doing in your application.

I will wait few days for a reproduction done with `vue-cli` in a small application

[2018-03-01 16:21] maxim25 commented on #33
@MatteoGabriele Hi, sorry just been super busy. I'll create a reproduction/pull request in the next couple days! Cheers

[2018-03-06 13:29] MatteoGabriele opened #43 "image stretches"
The image width should always be max the width of the image, not of the window

[2018-03-06 13:30] MatteoGabriele opened #44 "relative image path"
is it possible to just add the relative image path or it is mandatory to require the image and then serve it as a computed value?

[2018-03-25 09:22] MatteoGabriele commented on #42
closed for inactivity

[2018-03-26 06:01] vincebanzon commented on #44
I can't load the image base from my relative path also. How do we get it to load?

[2018-03-26 06:06] MatteoGabriele commented on #44
yeah I need to look at it, it's mostly a webpack problem because the plugin and your application don't share the same webpack instance but for now you can just create a computed value and do like

[code]
and then pass it to the component

[2018-03-26 08:36] cvince opened #45 "New Feature Request: Config to remove console logs"
I'd prefer that this library doesn't contribute console.logs in a production app.
Would be nice if we could make this configurable.

I'd be happy to contribute with a PR if you don't have time to get to it.

[2018-03-26 08:38] MatteoGabriele commented on #45
hi @cvince what do you mean with that?

[2018-03-26 08:41] cvince commented on #45
wrong library.. sorry!
Meant to comment on this one https://github.com/ccforward/progressive-image

[2018-03-26 08:41] #45 closed

[2018-03-26 08:47] MatteoGabriele commented on #45
no problems! 😄

[2018-04-08 16:19] 8bu commented on #43
nvm I fixed this bug with some global css. The no-ratio worked well. But I have to modify the css to make the image show up

[2018-04-08 16:38] MatteoGabriele commented on #43
Can you paste the css you used? I didn't have time to work on it but I will :)

Thanks

[2018-04-10 14:26] mortennh commented on #40
Why not try to orientate on the `<picture>` element itself? I could imagine something like this would be easy to maintain:

#### Picture Markup
[code]
#### Progressive-img

[code]

[2018-04-21 13:21] 8bu commented on #43
Sorry for not replying immediately, I didn't check the git notification last month.
I will review your source code and submit a pull request to fix this issue. Maybe next week

[2018-04-23 11:45] mauriblint opened #46 "Support browser <script>tag import"
For non node & npm apps, allow to import and use vue-progressive-image from script tag in browser, downloading the build file, and also we can use it via unpkg.com

[2018-04-26 18:08] sschadwick commented on #22
I'm running into a separate error when attempting to use this plugin with the latest version of nuxt. I get this error when attempting to install the plugin (before using the directive).

[code]

[2018-04-26 18:25] skoulix commented on #22
@sschadwick

Try to load the plugin with SSR set to false, example:

`
plugins: [
  { src: '~plugins/vue-progressive-image', ssr:false }
]
`

[2018-04-27 15:48] AleksueiR opened #47 "Adding 'alt' text to the image"
Is it possible to add the `alt` attribute to the generated image? It seems not possible right now.

[2018-04-28 15:20] MatteoGabriele commented on #47
Hi @AleksueiR
it is already possible

[code]

if you still have the problem, re-open the issue with a small application done with vue-cli so that I can have a look

thanks

[2018-04-28 21:42] MatteoGabriele commented on #46
hi @mauriblint
can I ask you why? 99% of the time webpack is involved and node packages are basically standard.
To be honest I would like to skip this, I don't think it's useful.

[2018-04-28 22:14] MatteoGabriele commented on #41
see 1da77d6a2cc86af29500c2f8de135205b31a71a6

[2018-04-28 22:14] #41 closed

[2018-05-25 06:21] Lmpgdn opened #48 "Duplicate elements showing when adding style to progressive-background"
### Description

Duplicate elements showing when adding style to `progressive-background`

### Expected behavior

Show the elements inside only once

### Actual behavior

The elements get duplicated

### Environment

`npm ls vue-progressive-image`: `-- vue-progressive-image@2.5.0`

1. Operating system: Windows 10 Pro
2. Browser and version: Google Chrome - Version 66.0.3359.181 (Official Build) (6

[2018-06-01 06:18] mikerockett opened #49 "Suggestion: Read image from File object"
I'm using this component as part of an editing page where a feature image may be updated. The `src` is bound to `feature_image` in state, and when the user selects a new image, this piece of state changes from a string containing the URL of the image, to the `File` object that will uploaded on save.

My suggestion is to have the component detect if the `src` is an instance of a file and, if so, re

[2018-06-08 09:56] cloudbluedigital commented on #35
are there any plans for this feature? I have tons of images and google page speed is complaining about loading them when not visible

[2018-06-08 10:07] MatteoGabriele commented on #35
@cloudbluedigital had a lot of work lately so, to be honest, still don't know. Maybe this weekend :)
if u have time and want to try, PRs are always open

thanks

[2018-06-09 18:28] atxy2k commented on #48
I have a similar problem, I have the next code:

[code]

All images are diferent, and I add them dinamically when the gallery component are hidden, but, I get the next:

![captura 1](https://user-images.githubusercontent.com/2886154/41194878-633af6f0-6be8-11e8-90a1-c84f64c6b01a.PNG)

 The two images see similar but in debug are diferent.

![captura 2](https://user-images.githubusercontent.com/2886

[2018-06-09 20:38] MatteoGabriele commented on #48
I wouldn't change the style of the component itself, is probably interfering with the component internal CSS structure.
I would use a wrapper around it if you need to do something special.

[2018-06-12 10:02] MatteoGabriele commented on #49
Hi @mikerockett
I'm sorry but I don't think that this will be a feature that I will implement: it's a very edge-case use, very specific to your needs.
I will stick to support just plain images as the normal `img` tag does, with few extras

thanks for your suggestion tho

[2018-06-12 10:02] #49 closed

[2018-06-12 10:14] mikerockett commented on #49
No problem at all, I have it working now. :)

[2018-06-12 11:05] MatteoGabriele commented on #43
@8bu any luck with this one? thanks again for your support

[2018-06-12 16:12] MojoDeMedici commented on #48
@MatteoGabriele I get a weird error in my app when I wrap the progressive background around the rest of my template.

[code]

**Duplicate presence of slot "default" found in the same render tree - this will likely cause render errors.**

I cannot fix this:( the slot should be named to avoid conflicts.
 The rendering process fails, and render things 2 times.

It duplicates elements exactly as above

[2018-06-13 14:56] leah-pgdn commented on #48
@MatteoGabriele Ok so I tried to wrap it around a div and I finally got what I wanted to happen.
[code]
I don't get why I still need to wrap `p` in a `div` inside the `progressive-background` tho. It's just too much elements for me. But it works now. Thank you so much!

[2018-06-13 15:01] leah-pgdn commented on #48
@MatteoGabriele I also got the same error as stated by @Dinuz

[2018-06-13 15:50] MatteoGabriele commented on #48
it's because when you apply a style to a component, this style is applied directly to the component and it will possibly override its property. In this specific case, you were modifying required property for the component to be able to function.

[2018-06-16 11:48] MatteoGabriele commented on #48
@atxy2k @Dinuz can you both please create a separate ticket and a public repository with your issue in a simple application with vue-cli?

thank you both for your help

[2018-06-16 13:31] leah-pgdn commented on #48
@MatteoGabriele I see... Thanks for the explanation! :D Will be closing this ticket now.

[2018-06-16 13:31] #48 closed

[2018-06-18 19:08] MatteoGabriele commented on #44
is not possible to use relative paths because webpack of plugin and the application are different.

the only way of using the `src` or `placeholder` attributes is with a normal URL like the examples in the documentation

or using `require` to return the full path of the picture from webpack

[code]

or importing the image directly as a file and then add it to the component

[code]

[2018-06-18 19:08] #44 closed

[2018-07-02 21:41] awmottaz opened #50 "Feature request: setting class names for <img> element"
I would like an option to add class names to the `<img>` element within this component. For example,

[code]

will render the component markup with the `<img>` element having the usual `progressive-image-main` class as well as the `foo` class.

[2018-07-03 08:32] MatteoGabriele commented on #50
Thanks for the suggestion

I'll add this in the next release

[2018-07-09 08:09] ghost commented on #22
+1

[2018-07-13 12:42] VCodepp opened #51 "dynamic background image not changed"
When I change the page number, the old background image appears. When I change each page number, the previous background is displayed.

[2018-07-13 12:45] MatteoGabriele commented on #51
I'm sorry but this comment doesn't make any sense to me: always remember that I don't have any context of the way you're using this plugin or where.

Please make a repository with vue CLI, very basic, and create there the example so I can see it

Thanks

[2018-07-16 09:44] #43 closed

[2018-07-16 09:44] #50 closed

[2018-07-26 11:02] helariL opened #52 "Feature request: convert no-more and no-results texts to configurable variables"
It would be awesome to make these texts configurable by the user

`No results :(`

`No more data :)`

BR's

[2018-07-28 10:42] MatteoGabriele commented on #52
Sorry @helariL, but which text are you talking about?
I don't fully get it.

thanks

[2018-07-30 06:38] helariL commented on #52
I'm so sorry. Created the issue under wrong project....

I combined vue-progressive-image with vue-infinite-loading and this is how the mixup happened.

Once again, sorry.

[2018-07-30 06:38] #52 closed

[2018-07-30 06:58] MatteoGabriele commented on #52
@helariL no worries! happens :)

[2018-08-19 15:40] MatteoGabriele commented on #51
closed due to inactivity

[2018-08-19 15:40] #51 closed

[2018-08-24 16:55] ondrejlohnisky opened #53 "disable margin-bottom"
Is possible to disable the padding?

[2018-08-24 17:17] MatteoGabriele commented on #53
Yes, you can use the no-ratio attribute
https://github.com/MatteoGabriele/vue-progressive-image/blob/master/README.md#ratio

[2018-08-24 17:17] #53 closed

[2018-08-24 17:49] ondrejlohnisky commented on #53
I know. But when i add no-ratio attribute to the element and save the problem doesn’t get solved.
I have margin-bottom about 5 px.
Is there other way to change the margin-bottom? Or try to fix that.

[2018-08-25 17:24] ondrejlohnisky opened #54 "no-ratio issue"
When i add no-ratio the image is not visible.
My problem is that my images got margin-bottom and if i add no-ratio attribute to image it become invisible.

[2018-09-23 16:49] GeorgeChackungal opened #55 "Blur on Progressive background also"
First and foremost nice job with the library. I was wondering if its possible to add the blur to the original image as well or if you could suggest a way to do it dynamically.

Thanks!

[2018-09-24 18:07] MatteoGabriele commented on #55
Hey @GeorgeChackungal thanks for the feedback :)
it's currently not possible, but if if you add the `placeholder` attribute and you pass the same source that you add in the `src` attribute, you should be able to achieve a face effect.

[code]

The fade will be quite fast because the file has been already downloaded by the placeholder so transition will be much faster.
If you want to force a slower

[2018-09-24 18:07] #55 closed

[2018-10-09 07:50] natemate90 opened #56 "Feature request: class props"
I would like to add some classes to the nested `<progressive-background>` component, in order to style the background better (background-position, etc.). This would work great together with Tailwind CSS. Right now, the class names seem to be given random names (i.e. _30VsZs3N14iSeemk3xHHZL_0).

[2018-10-09 09:00] MatteoGabriele commented on #54
hey @ondrejlohnisky sorry for the delay I text you back.
Could you create a repo with this behavior and link it here.

Thanks a lot

[2018-10-09 09:02] MatteoGabriele commented on #56
hi @natemate90
yes I use css modules to avoid class names collisions and so class names are generated on build time and they are not human readable.

I need to find a way to make this possible, not sure yet :)
Unfortunately is not on my list of top priorities right now, I have other packages to take care of, so if you want to take a look at the code and propose a PR, that would be awesome!

thanks

[2018-10-09 19:29] natemate90 commented on #56
I understand. Thanks for your quick response! Maybe I might be able to work on this in a while, when I have more time as well :)

[2018-10-10 15:12] ondrejlohnisky commented on #54
its okay now :)
I don't even know what is this about :D

[2018-10-10 15:12] #54 closed

[2018-10-12 07:10] MikeChongCan commented on #3
@ruchikarnawan

Just encountered this issue, I am using TypeScript at present time, in which `import` statement is restricted to cases for libraries with type definition. Consequently, I have to use `require()`.

This should work in my case:

[code]

[2018-10-12 21:34] rchrdnsh opened #57 "Can this plugin be used in a VuePress@next site?"
Not a bug but a question:

Is it possible for this plugin to be used in a VuePress@next web app? They are instituting plugins for VuePress 1.0 and I was wondering if anything different would need to be done to be able to use this in a vuepress 1.0 app.

That's all :-)

[2018-10-12 22:03] MatteoGabriele commented on #57
Well, technically should work but I have never tried. Works with SSR applications so I don't see problems. Try it and let me know :)

[2018-10-19 15:30] MatteoGabriele commented on #56
I've added the possibility to use the `custom-class` property that will add a class or classes to the root element and in addition I've removed CSS-Modules and moved to normal CSS for both progressive-image and progressive-background so should also be easier to select the elements.

[2018-10-21 23:05] natemate90 commented on #56
Thanks a lot!

[2018-10-23 21:27] Cobrand opened #58 "Can't run examples"
This is not really a bug so I'll take the liberty to not use the template.

Basically

[code]

returns

[code]

(this also happens with `npm run dev`). I've followed the README inside examples/. Is a step missing by any chance?

[2018-10-23 21:45] Cobrand opened #59 "Add ability to upscale images"
I may obviously be mistaken and be using this component incorrectly, but it looks like any `progressive-img` is limited in width to the original image's width. (from this line: https://github.com/MatteoGabriele/vue-progressive-image/blob/master/src/mixin/image.js#L113)

During my tests, if an image had an original width of 250px, I couldn't make it 270px, 300 or 500px. I haven't seen an issue abou

[2018-10-24 07:01] MatteoGabriele commented on #58
hi @Cobrand I'm gonna have a look asap

thanks for your feedback

[2018-10-24 07:04] MatteoGabriele commented on #59
yeah I've seen this once when I was testing some features, but didn't have time to investigate.

thanks

[2018-10-27 16:37] MatteoGabriele commented on #59
@Cobrand can you specify the version you are using, because I believe that this has been fixed already.

thanks

[2018-10-27 16:41] MatteoGabriele commented on #59
ah wait but I'm now reading it better: you cannot over stretch an image because it shouldn't happen in the first place.
if you want to fit an image in a div, then you might want to use the `progressive-background` component, instead of `progressive-img`.

so instead of `progressive-img`, just type `progressive-background` and you should be fine.

[2018-10-27 16:45] MatteoGabriele commented on #58
I think you didn't run the dev server in the proper folder: you need to go inside the /example folder, install dependencies and run dev inside there.

[2018-10-27 16:45] #58 closed

[2018-10-27 16:46] MatteoGabriele commented on #57
I'm going to close this one for inactivity but please come back with some news if you have them

thanks

[2018-10-27 16:46] #57 closed

[2018-10-27 16:47] rchrdnsh commented on #57
oh yeah, no worries, VuePress is working out a few bugs in alpha...I'll come back around with this when it's stable enough to work consistently :-)

[2018-12-08 06:04] elqolbi opened #60 "CSS Cursor doesn't work when using Filter/Opacity"
closed

[2018-12-10 06:44] AnonimBella opened #61 "Duplicate image after filtering tags/category/searchs"
Here's a preview of bugs:
![image](https://user-images.githubusercontent.com/13130920/49714594-05e97700-fc80-11e8-923d-d82d278f736d.png)

That's preview after I filter tags/category/searches via ajax. I use Vue, and filter in same pages using ajax. The content (title & caption) displayed is correct (no duplicate), but only the real image is duplicate.
Even when I check through inspectelement, the

[2018-12-10 07:04] MatteoGabriele commented on #61
Could you recreate this on a repository so I can have a look? Thanks :)

[2018-12-10 08:16] AnonimBella commented on #61
Sorry this projects already published in production live, so I cannot give an access. The feature in landing page. You can test by click the tags which background is green, or click the category, or search something on the page.

[2018-12-10 08:19] MatteoGabriele commented on #61
hey @AnonimBella sorry but I didn't mean to have access to a private project, is not what I need. You need to create a brand new project, with a very basic configuration and reproduce the same behavior that you are having so that I'm sure that is not your code doing something strange and that I can easily have your same problem and I can probably fix it easier.

A reproduction of a bug is very imp

[2018-12-10 08:24] AnonimBella commented on #61
Oh ok, I will create repo. I will inform you again if i already create it.

[2019-01-15 10:23] AnonimBella commented on #61
Hi! @MatteoGabriele I have solved this issue. There is something wrong with my code, it's function of route query. Sorry for waste your time, thanks :)

[2019-01-31 12:44] dainikinsider opened #62 "I do u get/generate the low resolution image of original image file"
Hey Guys,

I need a quick help to understand, how do you guys are generating low resolution image for your original image.

are you putting both version on your server or how does this works. I tried to google it but looks like I am missing something.

[2019-02-05 04:02] j6k4m8 opened #63 "Position:absolute breaks z-indexing in the rest of the document"
### Description

`.progressive-background-image`'s `position: absolute;` breaks z-indexing with the rest of the document.

### Expected behavior

Component should act 1-to-1 with <img> tag and sit "under" another element if given a lower z-index

### Actual behavior

These components render "on top of" all other components.

Perhaps this is by design? If so, might be worth documenting! Was tricky

[2019-02-05 08:09] MatteoGabriele commented on #63
Yeah indexing is a pretty tricky bastard. The thing is that there are a lot of things inside this element taking care of positions, sizes, effects etc..
Did u fix it adding a lower index to the wrapper?

[2019-02-05 08:11] MatteoGabriele commented on #62
I personally use Photoshop to downscale my image down till 3kb and then use the full resolution as the main image. I store it in the domain but I know there's also an Amazon service that does this on the fly for you. You should check, hope I'm not wrong and should be Amazon

Cheers

[2019-02-05 08:11] #62 closed

[2019-02-05 08:11] #60 closed

[2019-02-05 14:24] j6k4m8 commented on #63
Right — was able to get around this by redoing the rest of the surrounding DOM indexing "on top of" the progressive images.

[2019-03-07 09:23] ronyland opened #64 "Wrapping a div around an img tag results in a new line"
div property is block，
but img property is inline。
Replacing <img> with <div><img /></div> will cause the style to get messy

[2019-03-07 09:27] ronyland opened #65 "Version 3.2.0 has an extra <span> tag"

[2019-04-01 07:53] MatteoGabriele commented on #65
I am not even trying to understand this ticket. If you need something write it more clearly

[2019-04-01 07:53] #65 closed

[2019-08-18 12:23] xaksis opened #66 "onLoad is being called for both main image and fallback image"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

onLoad event is being triggered for both main image and for fallback image. So, when there's an error onError is called immediately followed by an onLoad event (for fallback image).

### Expected behavior

onLoad should only be called for main image and maybe we can have a sepa

[2020-03-10 21:25] MaximStone commented on #35
Feature really useful. But for now i'm using https://www.npmjs.com/package/vue-intersect for add progressive-image in DOM when I want it to be loaded.

[2020-04-24 15:20] bsommardahl opened #72 "Add fallback threshold time"
I am having network issues today with unsplash. When this happens, my fallback will eventually be displayed. But that might be 10 seconds of waiting. I would prefer being able to set a 2 second threshold so that, if networking issues are happening, my fallback will be displayed faster.

[2020-10-15 05:38] MDolega20 opened #76 "Vue 3 support"
Are you predict support for vue version 3?

![image](https://user-images.githubusercontent.com/44843530/96081206-20628c00-0eb9-11eb-835b-2fa3cde134b1.png)
![image](https://user-images.githubusercontent.com/44843530/96081212-22c4e600-0eb9-11eb-9ffd-312dfa134498.png)

[2020-10-15 07:17] MatteoGabriele commented on #76
yes, definitely.
I was actually looking at this few days ago. I will try to make some time and migrate it, but I still have to finish another package first.
it's in my queue

[2020-10-21 11:21] famedevelopment opened #77 "Not working properly in safari"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

When I run this plugin in safari browser, there is no fade effect on image when it load.

### Expected behavior

Fade effect should work properly, when image is load, then image should smoothly show up to user

### Actual behavior

fade effect not work

### Environment

`npm ls

[2021-01-24 13:38] hi-reeve commented on #76
any update on this?

[2021-01-24 15:52] MatteoGabriele commented on #76
@zynth17 you should be able to use the package `vue-gtag-next` with vue3.
right now it's a separate repo and a separate package. I'm thinking on the merging strategy. tbh I don't want to maintain 2 different packages with 2 different logics, but also not sure if I want to force vue2 users to use vue-composition api as an additional dependency just to support this new package. still thinking

[2021-01-24 15:54] MatteoGabriele commented on #76
sorry! I thought I was in another repository and wrote the wrong stuff. no, there's no package yet. these "covid year" has been quite intense and I'm trying to cut some time to catch up.
sorry for the delay

[2021-02-26 09:40] hi-reeve commented on #76
thankyou for the reply!
i hope this got updated soon
no need to rush but i hope you take your time
thankyou

[2021-03-28 06:45] kgnfth commented on #64
this fixed it for me

[code]

[2021-03-28 06:47] kgnfth commented on #63
i added this to my css and now everything looks normal as it was and progressive image still works

[code]

[2022-01-12 10:34] AlsonicTech commented on #76
Any update on this?

[2022-01-12 11:16] MatteoGabriele commented on #76
I did rewrite in Vue 3 few days ago because I had some time off, but i need to test it still and make sure that it's all good. Maybe I'll release a beta soon.

[2022-04-21 22:31] Ahmed1shihab commented on #76
Any update on this?

[2022-04-24 10:08] MatteoGabriele commented on #76
Yesss! So, unfortunately, I didn't have much time to dedicate to this. Technically is done, but I get some weird warnings from Vue and still need testing. Going to try to work on this during the coming weeks. Sorry for the delay. Life happens 😅

[2022-04-24 11:41] MatteoGabriele commented on #76
If some of you have experience with these errors, a hand would be awesome. I leave the screenshots here
<img width="1069" alt="Screenshot 2022-04-24 at 13 39 57" src="https://user-images.githubusercontent.com/5337152/164974689-e0817d6e-c62e-4fc1-a6d1-c12b04cdda43.png">

[2022-04-24 11:44] MatteoGabriele commented on #76
This is the repository I'm working at if someone wants to have a look `feat/next`

[2022-04-24 14:13] MatteoGabriele commented on #76
Alright, I have fixed the issue. It wasn't something from the package, but from the test vue app I'm using to test the package itself. I suppose it's because I link the package locally, so I needed to add this in the app config.

[code]

[2022-04-24 16:42] MatteoGabriele commented on #76
I have released a beta version on npm `vue-progressive-image@beta`
I need to finish some stuff, but it looks promising. I need to re-write the whole documentation and probably need couple more tests here and there: mostly to see if it works as expected.
Feel free to try it and come back with some feedback: that would be appreciated.

#### Notes
- the component is no longer called ProgressiveImg bu

[2022-04-24 16:48] MatteoGabriele commented on #72
I am sorry for the delay 🤣  as you can see, I haven't been super responsive in this repo.
I will close the issue. Please feel free to re-open it if you have something to add about this issue because I didn't quite get the problem.

[2022-04-24 16:48] #72 closed

[2022-04-24 16:53] MatteoGabriele commented on #77
sorry for the delay 🙏
Works on safari for me. Please re open in case you need help

[2022-04-24 16:53] #77 closed

[2022-04-24 16:54] #64 closed

[2022-04-24 16:54] #63 closed

[2022-04-24 16:55] #59 closed

[2022-04-24 16:57] #35 closed

[2022-04-24 16:58] #46 closed

[2022-04-24 17:03] #66 closed

[2022-05-07 08:07] MatteoGabriele commented on #76
I've just released v4.0.0-beta.2 with default lazy loading using the IntersectionObserver API

https://user-images.githubusercontent.com/5337152/167245278-1dd75d45-2d49-4a6c-a796-8f2e8ff96ca6.mov

[2022-05-15 02:37] masterbox commented on #76
Hi and thank you for your great work.
I'm currently testing the beta version, and I'm having difficulties using the custom classes feature, which does not seem to be a thing in the beta. Do you plan to implement it ?

[2022-05-19 21:48] MatteoGabriele commented on #76
I've released 4.0.0-beta.3 with `custom-class` prop.

[code]

[2022-05-20 09:11] MatteoGabriele commented on #76
It would be nice if you guys could help me QA the new version a bit so I can see when things don't render as expected. I have some issues with the image being smaller than the screen because the placeholder would be taking 100% at first and then get the image size once it's loading.
- Do you guys often use the placeholder image?
- Should I introduce a default background even before the placeholder

[2022-05-20 09:41] hi-reeve commented on #76
i just play with it, and seems like it have incorrect size when the parent size is define.
https://stackblitz.com/edit/vitejs-vite-kgqzev?file=src%2FApp.vue&terminal=dev

for the placeholder, i think it is good to have built in placeholder, or maybe as simple as solid color. i personally usually does not use a placeholder image

[2022-05-20 09:51] MatteoGabriele commented on #76
I forgot to add this in my previous comments, but the CSS has been extracted in a separate file, so you need to add it to your entry point.

[code]

[2022-05-20 10:27] hi-reeve commented on #76
the blur does not working? or do i need to set it manually? even when i'm using the placeholder
https://stackblitz.com/edit/vitejs-vite-kgqzev?file=src%2FApp.vue&terminal=dev

[2022-05-20 11:36] MatteoGabriele commented on #76
The prop is now called `placeholder-src`. in your case, it would be weird because you are making the image 100% regardless of the actual size.
Doesn't quite work well treated as a background image. I might need to look into that use case

[2022-05-20 12:07] MatteoGabriele commented on #76
@zynth17 looking at your little test application, I've added a new `object-cover` prop. Having an image that fits a div as background it's a valid use case so for sure worth the addition.
Let me know if it works out as expected.

Basically right now you won't need anything at all besides your parent dictating the size and the ProgressImage having the `object-cover` attribute

[code]

you can find

[2022-05-20 12:39] hi-reeve commented on #76
isnt object-fit with object fit css argument better? that way it will be more flexible?
thanks for adding that btw :)
goodjob!

[2022-05-20 12:46] MatteoGabriele commented on #76
I took inspiration from what tailwindcss calls the "object-fit: cover" snippet, and also, I don't think there's a need for other types: this is the most common scenario. Worst case, the property can be added, or it's possible to go custom anyways.

[2022-05-27 07:34] masterbox commented on #76
Hi,
To answer your question yes I use the placeholder it's a nice feature. Why not have a default one that kicks in before, (like a skeleton ?) but I don't know how it would render (first a solid color, then a blur and then the final image ?)

[2022-05-27 07:57] MatteoGabriele commented on #76
Thanks for your feedback. That sounds a bit too much too quickly. Maybe the skeleton can be an option if you don't provide the placeholder source, otherwise I'd say just a solid light gray could do the trick. I could also create a slot for the placeholder block so that you can put whatever u want while loading the main image. For the time being I'm trying to finish some tests but I think i will re

[2022-05-27 12:27] MatteoGabriele opened #92 "Write new documentation for version 4.0.0"
write new documentation on Gitbook see #76

[2022-05-28 12:47] MatteoGabriele commented on #76
just released version 4.0.0-beta.7, with some minor adjustments, and also the documentation for v4 https://matteo-gabriele.gitbook.io/vue-progressive-image/v/v4/

I will probably release v4 under the latest tag tomorrow or Monday.
Feedback about the documentation is appreciated.

[2022-05-28 12:51] MatteoGabriele commented on #92
https://matteo-gabriele.gitbook.io/vue-progressive-image/v/v4/

[2022-05-28 12:51] #92 closed

[2022-05-30 06:51] MatteoGabriele commented on #76
Probably the last update before release. (v4.0.0-beta.8)
- since placeholder images are important for user feedback, they are loaded eagerly by default. Removed the prop `load-placeholder` and added the `lazy-placeholder` attribute that can be added if a deeper lazy-loading is needed.
- Improved animation transition between pictures
- Added the skeleton shimmering effect by default; most visible o

[2022-05-31 21:21] MatteoGabriele commented on #76
Alright! close in this PR: the v4 has been officially released! 🎉

[2022-05-31 21:21] #76 closed

[2022-06-08 16:49] designcouch opened #93 "Relative URLs in Local Environment Don't Work"
### Description

When using relative urls passed to the src and placeholder-src properties like this:
`placeholder-src="@/assets/images/placeholder.jpg" src="@/assets/images/full-image.jpg"`
the url I'm passing is read as a simple string and results in a 404 error for the image.

I noted the pull request a few days ago, but that user is utilizing webpack, and I'm using vite. Not entirely sure how

[2022-06-08 22:44] designcouch commented on #93
I found a workaround for now. Importing the url and then declaring it in data before using it in the component works. Not perfect, but it makes this issue less urgent.

[2022-07-08 11:34] MatteoGabriele commented on #93
Yeah, I do that too; I'm not entirely sure how to achieve that, to be honest. I might try to read something about it.
I have the feeling is not something I can do from the plugin but more something that has to be done from each project compiler.

[2022-07-08 11:47] MatteoGabriele commented on #93
Judging by some research I did, and by [this](https://github.com/vuejs-templates/webpack/issues/450) Github issue, it looks like a compiler problem, not something I can take care of. Please report to me in case you have a fix or an idea.
Thanks

[2022-07-08 11:47] #93 closed

[2022-08-07 01:04] amecreate opened #94 "Rendered image does not retain tailwind class"
### Description

Template without plugin:

[code]

Template with plugin:

[code]

HTML without plugin:

[code]

HTML with plugin:

[code]

### Expected behavior

Placeholder image and rendered image both retain the tailwind classes.

### Actual behavior

Only placeholder image retains tailwind classes. Actual rendered image does not have the tailwind classes, which were incorrectly placed to the d